<h2 class="mh-subtitle">Comics List</h2>

<div class="mh-search-container">
    <form (submit)="onSearch(searchInput.value)">
        <input type="text" #searchInput [value]="query">
        <button type="submit">Search</button>
    </form>
</div>

<div *ngIf="comics" class="mh-cards-list">
    <mh-comics-list-item
        *ngFor="let comic of comics.data.results"
        [comic]="comic"
        class="mh-cards-list__item"
    ></mh-comics-list-item>
</div>

<mh-pagination
    *ngIf="getTotalPages()"
    [currentPage]="currentPage"
    [totalPages]="getTotalPages()"
    (change)="onChangePage($event)"
></mh-pagination>
