.mh-subtitle
    text-align: center
    
.mh-cards-list
    display: flex
    flex-wrap: wrap
    justify-content: space-around;

    &__item
        flex: 0 0 200px;
        text-align: center;
        border: 1px solid #eee;
        padding: 10px;
        margin: 0 10px 20px;