<a routerLink="/characters">&lt; Back to all characters</a>

<div *ngIf="character">
  <h2>{{character.name}}</h2>

  <div class="md-thumbnail-container">
    <thumbnail
      [image]="character.thumbnail"
      alt="Thumbnail of {{character.name}}"
    ></thumbnail>
  </div>

  <div *ngIf="character.description">
    <h3>Description</h3>
    <p>{{character.description}}</p>
  </div>

  <links-list [links]="character.urls"></links-list>

  <associated-items
    title="Comics"
    [collection]="character.comics"
  ></associated-items>

  <associated-items
    title="Series"
    [collection]="character.series"
  ></associated-items>

  <associated-items
    title="Stories"
    [collection]="character.stories"
  ></associated-items>

  <associated-items
    title="Events"
    [collection]="character.events"
  ></associated-items>
</div>
