<a routerLink="/characters">&lt; Back to all characters</a>

<div *ngIf="character">
  <h2>{{character.name}}</h2>

  <div class="md-thumbnail-container">
    <character-thumbnail [character]="character"></character-thumbnail>
  </div>

  <div *ngIf="character.description">
    <h3>Description</h3>
    <p>{{character.description}}</p>
  </div>

  <h3>Links</h3>
  <ul>
    <li *ngFor="let link of character.urls"><a [href]="link.url">{{link.type}}</a></li>
  </ul>

  <associated-items
    *ngIf="character.comics.available"
    title="Comics"
    [collection]="character.comics"
  ></associated-items>

  <associated-items
    *ngIf="character.series.available"
    title="Series"
    [collection]="character.series"
  ></associated-items>

  <associated-items
    *ngIf="character.stories.available"
    title="Stories"
    [collection]="character.stories"
  ></associated-items>

  <associated-items
    *ngIf="character.events.available"
    title="Events"
    [collection]="character.events"
  ></associated-items>
</div>
